.App {
  width: 100vw;
}
.restaurant_name {
  background-color: #0099ff !important;
  font-weight: bold;
  text-shadow: 1px 1px 2px #999;
  font-size: large;
 
}

.nav_items p {
  color: white;
}

.navbar-custom {
  margin-bottom: 3px;
  display: flex;
  justify-content: center;
  font-weight: normal;
  align-items: center;
  padding-bottom: 5px;

}
.nav-link {
  border-bottom: rgba(255, 255, 255, 0.5) solid 1px;
  width: 50vw;
  margin:0px auto;
  
 }


.nav-link:nth-child(4) {
  border: none;
}

.router-link {
  text-decoration: none !important ;
}

#nav-select {
  width: 70vw;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#nav-select:hover {
  font-size: 25px;

}


 

@media (min-width: 991px) {
  .nav-link {
    width: fit-content;
    border: none;
  }

  #nav-select {
    width: 100px;
    height: 40px;
  }

}

.dish_list {
  width: 70vw;
  display: flex;
  margin: 10px auto;
  flex-wrap: wrap;
}

